html
  head
    title Memer Bot
    style(type='text/css').
      * {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
    script(
      type='text/javascript'
      src='https://code.jquery.com/jquery-3.1.0.min.js'
    )
    script(type='text/javascript').
      const IMAGE_FETCH_DELAY_MS = 200
      var timeout_id = null

      function updateImage() {
        if (timeout_id !== null) {
          clearTimeout(timeout_id)
        }
        timeout_id = setTimeout(_updateImage, IMAGE_FETCH_DELAY_MS)
      }

      function _updateImage() {
        var top_text = encodeURIComponent($('#top-text').val())
        var bottom_text = encodeURIComponent($('#bottom-text').val())
        console.log('Got top "%s", bottom "%s"', top_text, bottom_text)
        $.getJSON('/meme', {
          'top-text': top_text,
          'bottom-text': bottom_text
        }, function(res) {
          $('#meme').attr('src', res.image_url)
        })
      }
      $(document).ready(function(){
        _updateImage()
      })
  body
    h1 Memer Bot
    .meme-generator
      img#meme(width=300)
      .text-wrapper
        input#top-text.meme-text(
          placeholder="Top text"
          oninput='updateImage()'
        )
      .text-wrapper
        input#bottom-text.meme-text(
          placeholder="Bottom text"
          oninput='updateImage()'
        )
    div
      h2 Upload new image
      form(action='/upload-image' method='POST' enctype='multipart/form-data')
        input(type='file' name='image')
        input(type='hidden' name='image-id' id='image-id')
        input(type='submit' value='Upload')
